<!doctype html>
<html lang="en">

    {{ partial "head.html" . }}

    <body class="is-preload">
        
        <!-- Wrapper -->
            <div id="wrapper">

                <!-- Main -->
                    <div id="main">
                        <div class="inner">

                            <!-- Header -->
                            {{ partial "site-header.html" . }}
                            <!-- Content -->
                            {{ block "main" . }}{{ end }}
                        
                        </div>
                    </div>

                <!-- Sidebar -->
                {{ partial "site-sidebar.html" . }}
            <div>

        <!-- scripts -->
        {{ partial "scripts.html" . }}
        
    </body>

</html>