{{ define "main" }}

<h1>Tagging System</h1>

<h2 class="category-list-heading">Categories</h2>

<div class="tag-buttons">
  {{ range .Site.Taxonomies.categories.ByCount }}
  <a class="btn btn-outline-dark font-125 text-left" href="{{ .Page.Permalink }}">
    <span class="badge badge-dark">{{ .Count }}</span> {{ .Page.Title }}
  </a>
  {{ end }}
</div>

<h2 class="tag-list-heading">Tags</h2>

<div class="tag-buttons">
  {{ range .Site.Taxonomies.tags.ByCount }}
  <p>
    <a class="btn btn-outline-dark font-125 text-left" href="{{ .Page.Permalink }}">
      <span class="badge badge-dark">{{ .Count }}</span> {{ .Page.Title }}
    </a>
  </p>
  {{ end }}
</div>

{{ end }}