<!-- editorial template scripts -->
{{ $js := "js/jquery.min.js" | relURL }}
<script src="{{ $js }}"></script>
{{ $js := "js/browser.min.js" | relURL }}
<script src="{{ $js }}"></script>
{{ $js := "js/breakpoints.min.js" | relURL }}
<script src="{{ $js }}"></script>
{{ $js := "js/util.js" | relURL }}
<script src="{{ $js }}"></script>
{{ $js := "js/main.js" | relURL }}
<script src="{{ $js }}"></script>
<!-- vertical tab script -->
{{ $js := "js/vertical-tabs.js" | relURL }}
<script src="{{ $js }}"></script>
