<div class="site-header">
    <nav id="nav" class="container">
        <div class=bar>
            <a class="navbar-brand brand" href="/">
                Gati Aher
            </a>
            <div class="links">
                {{ range .Site.Menus.main }}
                {{ $icon := printf "<i data-feather=\"%s\"></i>" .Pre }}
                {{ $text := print $icon " " .Name | safeHTML }}
                <a class="nav-link" href="{{ .URL }}">{{ $text }}</a>
                {{ end }}
            </div>
        </div>
    </nav>
</div>