{{ define "main" }}
<main aria-role="main">

  <!-- Banner -->
  {{ partial "site-banner.html" . }}

  <!-- Where I've Worked Section -->
  {{ partial "section-where-I-worked.html" . }}

  <!-- Featured Work Section -->
  <section>
    <header class="major">
      <h2>Featured Projects</h2>
    </header>
    <div class="posts">
      {{ $section := where $.Site.RegularPages "Params.featured" "==" true }}
      {{ range $section }}
      {{ partial "thumbnail" . }}
      {{ end }}
    </div>
  </section>

</main>
{{ end }}